In [ ]:
Q1. Explain with an example each when to use a for loop and a while loop.
"For Loop: A for loop is an iteration method that is best used when you know the number of iterations ahead of time"
"While Loop: A while loop is an iteration method that is best used when you don't know the number of iterations ahead of time."

In [19]:
# an example of loop when any one of integer need to remove from a loop by using continue
l=[1,2,3,4,5]

In [20]:
for i in l:
    if i == 1:
        continue
    print(i)

2
3
4
5

In [21]:
l1=["sourav","mondal","ramesh"]

In [22]:
# an example of loop when any one of string need to remove from a loop by using break
for i in l1:
    if i == "ramesh":
        break
    print(i)

sourav
mondal

In [23]:
# an example of while loop any one of number need to increase  more than any number from a loop
a=1
while a<15:
    print(a)
    a=a+2

1
3
5
7
9
11
13

In [24]:
# an example of while loop any one of number to a limit of number summation value,when value is input by user
n=int(input("enter your number"))
a=1
b=2
while b<n:
    a=a+b
    b=b+1
a

enter your number 5

10

In [ ]:
Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [25]:
# for print the sum of 10 natural number
a=0
sum=0
while(a<=10):
    sum+=a
    a+=1
print(sum)

55

In [26]:
# for print the product of 10 natural number
a=1
sum=1
while(a<=10):
    sum*=a
    a+=1
print(sum)

3628800

In [ ]:
Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [27]:
# answer
unit=int(input("enter electricity bill unit for a month"))
if unit<=100:
    print(unit*4.5)
if unit<=200:
    print(100*4.5 + (unit-100)*6)
if unit<=300:
    print(100*4.5 + 100*6 + (unit-200)*10)
elif unit<=400:
    print(100*4.5 + 100*6 + 100*10 + (unit-300)*20)
# answer is your monthly electricity bill.

enter electricity bill unit for a month 310

2250.0

In [ ]:
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [28]:
a=1
list=[]
while(a<101):
    cube = a**3
    print(f"{a}={cube}")
    if cube%4==0 or cube%5==0:
        list.append(a)
    a+=1
print(list)

1=1
2=8
3=27
4=64
5=125
6=216
7=343
8=512
9=729
10=1000
11=1331
12=1728
13=2197
14=2744
15=3375
16=4096
17=4913
18=5832
19=6859
20=8000
21=9261
22=10648
23=12167
24=13824
25=15625
26=17576
27=19683
28=21952
29=24389
30=27000
31=29791
32=32768
33=35937
34=39304
35=42875
36=46656
37=50653
38=54872
39=59319
40=64000
41=68921
42=74088
43=79507
44=85184
45=91125
46=97336
47=103823
48=110592
49=117649
50=125000
51=132651
52=140608
53=148877
54=157464
55=166375
56=175616
57=185193
58=195112
59=205379
60=216000
61=226981
62=238328
63=250047
64=262144
65=274625
66=287496
67=300763
68=314432
69=328509
70=343000
71=357911
72=373248
73=389017
74=405224
75=421875
76=438976
77=456533
78=474552
79=493039
80=512000
81=531441
82=551368
83=571787
84=592704
85=614125
86=636056
87=658503
88=681472
89=704969
90=729000
91=753571
92=778688
93=804357
94=830584
95=857375
96=884736
97=912673
98=941192
99=970299
100=1000000
[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [29]:
#this is ans 4 
a=1
list=[]
while(a<101):
    cube = a**3
    if cube%4==0 or cube%5==0:
        list.append(a)
    a+=1
print(list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [ ]:
Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [30]:
string="I want to become a data scientist"

In [31]:
string="I want to become a data scientist"
count=0
for s1 in string:
    list1=['a','e','i','o','u']
    if s1.lower() in list1:
        count=count+1
print(count)

12